# idea files
.DS_Store
.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/bin
build/*.log
#build/scripts

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# emacs backup file
*~

# python
*.pyc
__pycache__

# vagrant related
.vagrant

# yapf backup file
yapf*.py

# etc
*.bak

# fiab related
mlruns
mongodata
postgresdata
