.metric-chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recharts-text {
  font-size: 10px;
}

.metric-tooltip {
  font-size: 10px;
}

.chart-zero-state {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chakra-radio__label {
  font-size: 12px !important;
}

.recharts-legend-wrapper {
  bottom: -20px !important;
}