{{=<% %>=}}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.servicename }}-agent-<% agentId %>
  namespace: {{ .Release.Namespace }}
spec:
  template:
    # activeDeadlineSeconds: <% maxWaitTime %>
    # ttlSecondsAfterFinished: 180 # supported from v1.21
    spec:
      imagePullSecrets:
        - name: ecr-pull-secret
      containers:
        - args:
            - "--apiserver"
            - "http://{{ .Values.servicename }}-apiserver:{{ .Values.componentPorts.apiserver }}"
            - "--notifier"
            - "{{ .Values.servicename }}-notifier:{{ .Values.componentPorts.notifier }}"
          command: ["/usr/bin/flamelet"]
          image: <% imageLoc %>
          imagePullPolicy: IfNotPresent
          name: {{ .Values.servicename }}-agent-<% agentId %>

          ports:
            - containerPort: {{ .Values.componentPorts.agent }}

          resources:
            limits:
              memory: 2Gi
            requests:
              memory: 500Mi

          env:
            - name: LOG_LEVEL
              value: INFO
            - name: FLAME_AGENT_ID
              value: <% agentId %>
            - name: FLAME_AGENT_KEY
              value: <% agentKey %>
      restartPolicy: Never
<%={{ }}=%>
