name: Presubmits

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v2

    - name: Set up Go
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v3.0.0
      with:
        go-version: 1.19.x

    - name: Build
      run: go build -v ./...

  test:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v2

    - name: Set up Go
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v3.0.0
      with:
        go-version: 1.19.x

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.10.0

    - name: Test
      run: go test -v -race -covermode=atomic -coverprofile=coverage.out ./...
    - name: Upload codecoverage
      uses: codecov/codecov-action@6d798873df2b1b8e5846dba6fb86631229fbcb17 # 2.1.0
      with:
        files: ./coverage.out
        verbose: true

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v2

    - name: Set up Go
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v3.0.0
      with:
        go-version: 1.19.x

    - name: golangci-lint
      uses: golangci/golangci-lint-action@a4f60bb28d35aeee14e6880718e0c85ff1882e64 # v3
      with:
        version: v1.50.1
